.app {
    background-color: white;
    width: 99%;
    margin-left: 2px;
}

@media (min-width: 460px) {
    .app {
        width: 430px;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    .app {
        width: 720px;
        margin-left: 30px;
    }
}

@media (min-width: 960px) {
    .app {
        width: 720px;
        margin-left: 200px;
    }
}